/** @format */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
}

body {
  background-color: #003366;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 35%;
  z-index: 1;
}

.icon-bar {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.navbar i {
  color: white;
  font-size: 36px;
  float: left;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
  width: 56px;
  height: 60px;
}

.icon-bar :nth-child(1) {
  background-color: red;
}

.navbar i:hover {
  background-color: #000;
}

.navbar i:active {
  background-color: #ff5733;
  color: #ff5733;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/*NAVBAR*/

/* MACRO CALCULATOR PAGE */

.macro-container {
  margin: 50px 175px;

  color: white;
}

.macro-title {
  width: 100%;
  background-color: #003366;
}

.macro-description {
  margin-top: 20px;
  width: 100%;
  background-color: #003366;
}

.macro-calculator {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #003366;
  margin-top: 50px;
}

.acolade {
  font-size: 330px;
}

.macro-calculator-calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.macro-calculator-calculator label {
  font-weight: bold;
  letter-spacing: 1px;
}

.macro-calculator-calculator input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 20px;
}

.carbs,
.protein,
.fat {
  display: flex;
  flex-direction: column;
}

.macro-nutrients p {
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.macro-details {
  display: flex;
  margin-top: 2rem;
}

.macro-details h3 {
  margin-right: 3rem;
  letter-spacing: 2px;
  cursor: pointer;
  padding-bottom: 2rem;
}

.macro-macronutrients {
  margin: 2rem 0;
  border-bottom: 5px solid white;
}

.macro-details-box {
  background-color: white;
  color: black;
  letter-spacing: 0.5px;
  height: 275px;
}

.macro-details-box div {
  padding: 1.5rem 2rem;
}

.macro-details-box p {
  margin: 1.5rem 0;
}

.macro-details-box ul {
  margin: 0 3rem;
}

.h3-border {
  border-bottom: 5px solid red;
}

/*MACRO CALCULATOR PAGE*/

/*Food search page */

.food-search-container {
  margin: 5rem 6rem;
}

.branded-search-container {
  display: flex;
  margin-left: 50px;
}

.branded-search-container input[type="text"] {
  height: 50px;
  width: 500px;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px;
  border: 1px solid #23ce6b;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.branded-search-container input[type="text"]::placeholder {
  color: color#575756;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.branded-search-container input[type="text"]:hover:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #23ce6b;
  border-radius: 0;
  background-position: 100% center;
}

.search-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  color: #575756;
  border: 1px solid #23ce6b;
}

.branded-search-container input[type="text"]:hover:focus + .search-button {
  border: 1px solid transparent;
  border-bottom: 1px solid #23ce6b;
  border-radius: 0;
  color: red;
  background-position: 100% center;
  transition: all 250ms ease-in-out;
}

.branded-food-title {
  margin-left: 100px;
  color: #23ce6b;
  margin-bottom: 50px;
}

.single {
  border: 1px solid black;
  width: 675px;
}

.single-span {
  float: right;
  padding-left: 10px;
}

.section {
  float: right;
  display: flex;
  align-items: center;
}

.section img {
  margin-right: 5px;
}
.section span {
  margin-right: 5px;
}

.item-title {
  margin-left: 5px;
}

.data-table {
  border-collapse: collapse;
}

.nutrition-data {
  display: flex;
  justify-content: space-evenly;
}

/*Food search page */

/* Recipes page */

.recipes-searchbar form {
  display: block;
  left: 50%;
  position: absolute;
  top: 20%;
}

.recipes-searchbar input {
  border: solid 3px #fff;
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  margin-left: -15vw;
  outline: solid #fc0 0;
  padding: 0.5em;
  transition: all 2s ease-in;
  width: 30vw;
  z-index: 1;
}

.recipes-searchbar input:focus {
  border: solid 3px #09f;
  outline: solid #fc0 2000px;
}

/* Recipes page */
